.faqContainer {
  display: inline;
}

.faqTitle {
  display: inline-block;
  margin-left: 2rem;
}

.contentContainer {
  margin: auto auto 1rem 2rem;
}

.faqItemContainer h4 {
  margin-bottom: 1rem;
}

.faqItemContainer li {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  margin-bottom: 1em;
}

.faqItemContainer p {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
}

.answerList, .relatedLinks {
  margin-bottom: 1.2em;
}

.answerListItems {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0em;
}

.answerListLink {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0em;
  list-style-type: none;
}

