body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

li {
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
  margin-bottom: 1em;
}

p {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
}

.answerList, .relatedLinks {
  margin-bottom: 1.2em;
}

.answerListItems {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0em;
}

.answerListLink {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0em;
  list-style-type: none;
}

