.headerContainer {
  background: #C73A26;
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 100%;
}


.siteTitleLink {
  margin: 0;
  font-family: LietzLindauHamburg;
  color: var(--theme-bg-color);
  text-decoration: none;
}

.siteTitleLink:hover {
  color: var(--theme-black);
}
