* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.socialsListItem {
  list-style-type: none;
}

.footer {
  background-color: #c73a26;
  font-family: ’Lato’, sans-serif;
  color: #bbb;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

.socialsListItemLink {
  text-decoration: none;
  color: var(--theme-bg-color);
}

.socialsListItemLink:hover {
  text-decoration: none;
  color: var(--theme-black);
}

.ftTitle {
  color: var(--theme-bg-color);
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
  font-family: LietzLindauHamburg;
}

.ftMain {
  padding: 0rem 1.875rem;
  margin-bottom: -45px;
  display: flex;
  flex-wrap: wrap;
}

.ftMainItem {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.ftColumnContent {
  padding-top: 0rem;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ftMain {
    justify-content: space-between;
  }
  .ftColumnContent {
    padding-top: 3.5rem;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/) {
  .ftMain {
    justify-content: space-evenly;
  }
  .ftColumnContent {
    padding-top: 3.5rem;
  }
}
