* {
  box-sizing: border-box;
  font-family: ’Lato’, sans-serif;
  margin: 0; 
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.socialsListItem {
  list-style-type: none;
}

.footer {
  background-color: #C73A26;
  color: #bbb;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #E9DFAC;
}

a:hover {
  text-decoration: none;
  color: #2F2D22;
}

.ftTitle {
  color: #E9DFAC;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.ftMain {
  padding: 0rem 1.875rem;
  margin-bottom: -45px;
  display: flex;
  flex-wrap: wrap;
}

.ftMainItem {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.ftColumnContent {
  padding-top: 0rem;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ftMain {
      justify-content: space-around;
  }
  .ftColumnContent {
    padding-top: 3.5rem;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ftMain {
      justify-content: space-evenly;
  }
  .ftColumnContent {
    padding-top: 3.5rem;
  }
}