.menuBarList {
  display: flex;
  justify-content: left;
  padding-top: 1.25rem;
  margin-bottom: 0rem;
}

.menuBarList li {
  margin: 0.5rem;
  margin-left: 0rem;
  font-size: 1.5rem;
  list-style-type: none;
}

.menuBarItemLink {
  color: #E9DFAC;
  font-family: LietzLindauHamburg;
  text-decoration: none;
  margin-right: 0.75rem;
}

.menuBarItemLink:hover {
  text-decoration: none;
  color: #2F2D22;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ftMain {
      justify-content: space-around;
  }
  .ftColumnContent {
    padding-top: 3.5rem;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ftMain {
      justify-content: space-evenly;
  }
  .ftColumnContent {
    padding-top: 3.5rem;
  }
}