.menuBarContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row-reverse;
}

.hamburger {
  border-radius: 50%;
  width: 48px;
  margin-top: 0.5rem;
  transition: 300ms;
}
.hamburger-react:hover {
  background: #2F2D22;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.buttonBackground {
  background: var(--theme-bg-color);
  border-radius: 0.25rem;
}

.menuBarList {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  transition: 300ms;
}

.menuBarList li {
  margin: 0.5rem;
  margin-left: 0rem;
  font-size: 1.5rem;
  list-style-type: none;
}

.menuBarItemLink {
  color: var(--theme-bg-color);
  font-family: LietzLindauHamburg;
  text-decoration: none;
  margin-right: 0.75rem;
}

.menuBarItemLink:hover {
  text-decoration: none;
  color: var(--theme-black);
}

/* Mid-small devices (phones, 670px and down) */
@media only screen and (max-width: 670px) {
  .menuBarContainer {
    margin: auto 1rem auto auto;
    align-items: flex-start;
  }
  .menuBarList:not(:last-child) {display: none;}
  .menuBarList {
    flex-direction: column;
     padding-left: 1.0875rem;
  }
}
